{% if item %}
<div class="flex justify-between items-center mt-6 pt-6 border-t" id="cart-item{{ item.product.id }}">
    <div class="flex  items-center">
        <img src="{{ item.product.image.url }}" width="60" class="rounded-full ">

        <div class="flex flex-col ml-3 ">
            <span class="text-md font-medium">{{ item.product.name }}</span>
        </div>
    </div>

    <div class="flex justify-center items-center">

        <div class="pr-8 flex">
            <a style="cursor: pointer; border-radius:50%" class="p-3 bg-gray-100 hover:bg-gray-300"
                hx-get="{% url 'update_cart' item.product.id 'decrement' %}" hx-target="#cart-item{{ item.product.id }}"
                hx-swap="outerHTML">-</a>
            <span class="bg-gray-200 p-3 rounded-xl">{{ item.quantity }}</span>
            <a style="cursor: pointer;  border-radius:50%" class="p-3 bg-gray-100  hover:bg-gray-300"
                hx-get="{% url 'update_cart' item.product.id 'increment' %}" hx-target="#cart-item{{ item.product.id }}"
                hx-swap="outerHTML">+</a>
        </div>

        <div class="pr-8">

            <span class="text-xs font-medium">NRs.{{ item.total_price }}</span>
        </div>
    </div>
</div>


{% endif %}


